<li class="list-group-item row" id="comment-<%= comment.id %>">
  <div class="col-md-2">
    <div class="col-8">
      <%= comment.user.username %>
      <%= user_avatar comment.user %>
    </div>

    <% if my_item? comment %>
        <div class="col-4">
          <%= link_to 'Edit', [:edit, comment.article, comment], remote: true %>
          <%= link_to 'Delete', [comment.article, comment],
                      method: :delete, remote: true %>
        </div>
    <% end %>
  </div>

  <div class="col-md-10">
    <div>
      <div id="comment-body-<%= comment.id %>"><%= comment.body %></div>
      <div class="text-right timestamp">
        Commented <%= distance_of_time_in_words Time.now, comment.created_at %> ago
      </div>
    </div>
    <hr>
    <%= render 'comments/form', article: @article, comment: Comment.new(parent: comment) %>


    <%= render 'comments/list',
               list_id:  "comments-list-#{comment.id}",
               parent_id: comment.id %>
  </div>
</li>
