<% content_for :title, 'All Articles' %>

<div class="d-flex align-items-center justify-content-start">
  <div class="p-2"><h1><%= yield(:title) %></h1></div>
  <div class="ml-auto p-2">
    <%= link_to 'New Article', new_article_path, class: 'btn btn-info ' %>
  </div>
</div>

<% if @articles.any? %>
    <table class="table table-hover" id="articles-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
      </thead>
      <tbody>
      <% @articles.each do |article| %>
          <tr>
            <td scope="row"><%= article.id %></td>
            <td><%= link_to article.title, article %></td>
            <td>
              <%= user_avatar article.user %>
              <%= article.user.username %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <hr>
    <h2 class="h2 text-center">
      There are no articles still. You can be the first!
    </h2>
    <div class="text-center">
      <%= link_to 'Create First Article', new_article_path,
                  class: 'btn btn-success' %>
    </div>
<% end %>
