<%= content_for :title, @article.title %>

<div class="card">
  <div class="card-header">
    Author:
    <%= @article.user.username %>
    <% if @article.user.avatar_data.present? %>
      <img src="<%= @article.user.avatar_data %>"
           alt="user avatar" class="avatar-thumb">
    <% end %>
  </div>
  <div class="card-block">
    <h4 class="card-title"><%= @article.title %></h4>
    <p class="card-text"><%= @article.body %></p>
    <% if my_item? @article %>
      <%= link_to 'Edit', [:edit, @article], class: 'card-link' %>
      <%= link_to 'Remove', @article, method: :delete, class: 'card-link' %>
    <% end %>
  </div>

  <div class="card-footer text-muted">
    <%= render 'comments/form', article: @article, comment: Comment.new %>

    <hr>
    <h3 class="h3">Comments</h3>
    <%= render 'comments/list', comments: @article.comments.top, list_id: 'comments-list' %>
  </div>
</div>
