<%= content_for :title, @article.title %>

<div class="card">
  <div class="card-header d-flex justify-content-between ">
    <div class="p-2 bd-highlight align-self-baseline">
      Author: <%= @article.user.username %> <%= user_avatar @article.user %>
    </div>
    <div class="p-2 bd-highlight align-self-baseline">
      Created: <%= distance_of_time_in_words Time.now, @article.created_at %> ago
    </div>

  </div>
  <div class="card-block">
    <h4 class="card-title"><%= @article.title %></h4>
    <p class="card-text"><%= @article.body %></p>

    <% if my_item? @article %>
        <%= link_to 'Edit', [:edit, @article], class: 'card-link' %>
        <%= link_to 'Delete', @article, method: :delete, class: 'card-link' %>
    <% end %>
  </div>

  <div class="card-footer text-muted">
    <%= render 'comments/form', article: @article, comment: Comment.new %>

    <hr>
    <h3 class="h3">Comments</h3>
    <% if @comments.any? %>
    <%= render 'comments/list', parent_id: nil, list_id: 'comments-list' %>
      <% else %>
      <hr>
        <div class="text-center">
          Nobody commented on this article yet...
        </div>
      <% end %>
  </div>
</div>
