<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <ul class="list-group">
      <% user.errors.full_messages.each do |message| %>
        <li class="list-group-item list-group-item-danger">
          <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password,
                         class:       'form-control',
                         placeholder: 'Password' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation,
                         class:       'form-control',
                         placeholder: 'Password Confirmation' %>
  </div>

  <% if @current_user %>
    <div class="form-group">
      <%= f.label :avatar %>
      <%= f.file_field :avatar,
                       class:  'form-control-file',
                       accept: 'image/png,image/jpeg' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
